<!DOCTYPE html>
<html lang="en">
<head>        
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <title>NTQ Solution Admin Control Panel</title>

    <link rel="icon" type="image/ico" href="favicon.ico"/>
    
    <link href="css/stylesheets.css" rel="stylesheet" type="text/css" />
    
</head>
<body>
    
    <div class="loginBox">        
        <div class="loginHead">
            <%= image_tag("logo.png", alt: "NTQ Solution Admin Control Panel", title: "NTQ Solution Admin Control Panel") %>
        </div>

        <%= form_for(:session, url: login_path, class: "form-horizontal") do |f| %>
            <div class="control-group">
                <%= f.label :name, "Username" %>
                <%= f.text_field :name, class: "form-control" %>
            </div>

            <div class="control-group">
                <%= f.label :password %>
                <%= f.password_field :password, class: "form-control" %>             
            </div>

            <div class="control-group" style="margin-bottom: 5px;">                
                <%= f.label :remember_me, class: "checkbox inline" do %>
                    <%= f.check_box :remember_me %>
                    <span>Remember me</span>
                <% end %>                                                
            </div>

            <div class="form-actions">
                <%= f.submit "Login", class: "btn btn-block" %>
            </div>
        <% end %>       
    </div> 
</body>
</html>

