<% provide(:type, "Users") %>
<% provide(:path, users_path) %>
<a href="<%= new_user_path(@user) %>" class="btn btn-add">Add User</a>

<%= form_tag bulk_action_users_path do %>
    <%= hidden_field_tag :current_page, @current_page %>
    <%= hidden_field_tag :search, params[:search] %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <table cellpadding="0" cellspacing="0" width="100%" class="table" id="tSortable_2">
        <thead>
            <tr>
                <th><%= check_box_tag "check_all", true %></th>
                <th width="15%" class="sorting"><%= sortable "id", "ID" %></th>
                <th width="35%" class="sorting"><%= sortable "name", "User Name" %></th>
                <th width="20%" class="sorting"><%= sortable "activated", "Activate" %></th>
                <th width="10%" class="sorting"><%= sortable "created_at", "Time Created" %></th>
                <th width="10%" class="sorting"><%= sortable "updated_at", "Time Updated" %></th>
                <th width="10%">Action</th>
            </tr>
        </thead>
        <tbody>       
            <%= render @users %>
        </tbody>
    </table>
    <div class="bulk-action">
        <%= submit_tag "Activate", class: "btn btn-success" %>
        <%= submit_tag "Delete", class: "btn btn-danger" %>
    </div><!-- /bulk-action-->
<% end %>
<%= render 'layouts/pagination', object: @users %>
