<tr>
    <td><%= check_box_tag "ids[]", category.id %></td>
    <td><%= category.id %></td>
    <td><%= category.name %></td>
    <td>
    	<% if category.activated? %>
    		<span class="text-success">Activated</span>
    	<% else %>
    		<span class="text-error">Deactivated</span>
    	<% end %>
    </td>
    <td><%= category.created_at %></td>
    <td><%= category.updated_at %></td>
    <td><a href="<%= edit_category_path(category) %>" class="btn btn-info">Edit</a></td>
</tr>