<%= form_for @category do |f| %>
    <div class="row-form">
        <div class="span3">Category Name:</div>
        <div class="span9">
            <%= f.text_field :name, placeholder: "some text value..." %>
            <%= render 'shared/validation_error_messages', object: f.object, field: :name %>
        </div>
        <div class="clear"></div>
    </div> 
    <div class="row-form">
        <div class="span3">Activate:</div>
        <div class="span9">
            <%= f.select(:activated, [['Activate', 'activated'], 
                                      ['Deactivate', 'deactivated']],
                                      include_blank: 'choose an option...') %>
            <%= render 'shared/validation_error_messages', object: f.object, field: :activated %>
        </div>
        <div class="clear"></div>
    </div>                          
    <div class="row-form">
        <%= f.submit yield(:submit_btn), class: "btn btn-success" %>
        <div class="clear"></div>
    </div>
<% end %>