<%= form_for @category do |f| %>

    <div class="row-form">
        <div class="span3">Category Name:</div>
        <div class="span9">
            <%= f.text_field :name, placeholder: "some text value...", class: "form-control" %>
            <% unless @category.errors[:name].empty? %>
                <li class="validate-error"><%= @category.errors[:name] %></li>
            <% end %>
        </div>
        <div class="clear"></div>
    </div> 
    <div class="row-form">
        <div class="span3">Activate:</div>
        <div class="span9">
            <%= f.select(:activated, [['Activate', 'activated'], 
                                      ['Deactivate', 'deactivated']],
                                      include_blank: 'choose an option...') %>
            <% if !@category.errors[:activated].empty? %>
                <li class="validate-error"><%= @category.errors[:activated] %></li>
            <% end %>
        </div>
        <div class="clear"></div>
    </div>                          
    <div class="row-form">
        <%= f.submit "Create", class: "btn btn-success" %>
        <div class="clear"></div>
    </div>
<% end %>