<%= form_for @product, html: { multipart: true } do |f| %>

    <div class="row-form">
        <div class="span3">Product Name:</div>
        <div class="span9"><%= f.text_field :name, placeholder: "some text value..." %></div>
        <div class="clear"></div>
    </div> 
    <div class="row-form">
        <div class="span3">Price:</div>
        <div class="span9"><%= f.number_field :price, placeholder: "some text value..." %></div>
        <div class="clear"></div>
    </div> 
    <div class="row-form">
        <div class="span3">Description:</div>
        <div class="span9"><%= f.text_area :description, placeholder: "Textarea field placeholder..." %></div>
        <div class="clear"></div>
    </div> 
    <div class="row-form">
        <div class="span3">Upload Image:</div>
        <div class="span9">

            <%= file_field_tag "images[]", typye: :file, multiple: true, size: 19 %>
                                
        </div>
        <div class="clear"></div>
    </div> 
    <div class="row-form">
        <div class="span3">Activate:</div>
        <div class="span9">
            <%= f.select(:activated, [['Choose an option...', nil],
                                        ['Activate', true], 
                                        ['Deactivate', false]]) %>
        </div>
        <div class="clear"></div>
    </div>                          
    <div class="row-form">

        <%= f.submit "Create", class: "btn btn-success" %>

		<div class="clear"></div>
    </div>

<% end %>