<!DOCTYPE html>
<html lang="en">
<head>
  <title>ExerciseApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

  <title>NTQ Solution Admin Control Panel</title>

  <link rel="icon" type="image/ico" href="favicon.ico"/>

  <link href="css/stylesheets.css" rel="stylesheet" type="text/css"/>
</head>
<body>

	<% if logged_in? %>
		<%= render 'layouts/header' %>
		<%= render 'layouts/menu' %>
	<% end %>
	
	<% flash.each do |message_type, message| %>
		<div class="alert alert-<%= message_type %>">
			<%= message %>
		</div>
	<% end %>
	<div class="container">
		<%= yield %>
	</div>

</body>
</html>
