<!DOCTYPE html>
<html lang="en">
<head>
  <title>NTQ Solution Admin Control Panel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

  <title>NTQ Solution Admin Control Panel</title>

  <link rel="icon" type="image/ico" href="favicon.ico"/>

  <link href="css/stylesheets.css" rel="stylesheet" type="text/css"/>
</head>
<body>

	<% if logged_in? %>
    <%= render 'layouts/header' %>
    <%= render 'layouts/menu' %>
  <% else %>
    <%= render 'shared/flash' %>
  <% end %>

  <% if params[:action] == 'index' %>
    <div class="content">
      <%= render 'shared/flash' %>
      <div class="breadLine">
        <ul class="breadcrumb">
          <li><%= path_of(yield(:type)) %></li>
        </ul>
      </div>
        <%= render 'layouts/workplace' %>
    </div>
  <% else %>
    <%= yield %>
  <% end %>

</body>
</html>
